*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2%;
}

html, body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    padding: 5px 0;
}

.logo{
    width: 50%;
    

}

.menu{
    padding-top: 10px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -400px;
    width: 900px;
    height: 1000px;
    border-radius: 50%;
    background-color: #017143;
}

.social-media{
   position: absolute;
   right: 405px;
   top: 150px;
   
   
}

.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}


.texto-sobre h1{
    font-size: 65px;    
}

.texto-sobre p{
    margin: 20px 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
    max-width: 500px;
}

.texto-sobre button{
    border: 0;
    background-color: #017143;
    color: white;
    padding: 4px;
    border-radius: 4px;
    width: 90px;
    height: 25px;
    cursor: pointer;
}

.texto-sobre button:hover{
    background-color: #2E8B57;
}